---
import Layout from '../layouts/Layout.astro';
import Articles from '../sections/Articles.astro';
import Benefits from '../sections/Benefits.astro';
import Hero from '../sections/Hero.astro'
import Header from '../shared/Header.astro'
import Footer from '../shared/Footer.astro'
---
<Layout title="Welcome to Astro.">
	<Header/>
	<main>
		<Hero/>
		<Benefits/>
		<Articles/>
	</main>
	<Footer/>
</Layout>
